@font-face{
    font-family:"twitterchirp-regular";
    src:url("https://candyfonts.com/wp-data/2019/03/23/49877/twitterchirp.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2019/03/23/49877/twitterchirp.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2019/03/23/49877/twitterchirp.ttf") format("truetype");
}
body{
    font-family: "witterchirp-regular";
}
.root{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;

}
.card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #272727;
    color: #e3e3e3;
    box-shadow: 8px 6px 10px #000;
    padding: 1rem;
    border-radius: .8rem;

}
.card__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__name{
    font-weight: 700;
}
.card__username{
    color: #707070;
}
.card__del-btn{
    background: #707070;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: relative;
}
.card__del-btn::after,.card__del-btn::before{
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    height: 3px;
    width: 70%;
    background-color:#e3e3e3;
    transition: transform .2s;
}
.card__del-btn::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.card__del-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.card__del-btn:hover{
    background-color: #e3e3e3;
}
.card__del-btn:hover.card__del-btn::before{
    transform: translate(-50%, -50%) rotate(135deg);
    background-color: #272727;
}
.card__del-btn:hover.card__del-btn::after{
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #272727;
}
.card__email{
    color: #707070
}
.card__title::first-letter,.card__body::first-letter{
    text-transform: uppercase;
}
/* animation */
svg{
	height: 100vh;
	float:right;
}